[tools]
rust = { version = "1.93.0", profile = "default" }

[tasks.dev]
description = "Start development environment"
run = "docker compose -f devops/docker/compose/compose.yml up -d"

[tasks.build]
description = "Build all"
depends = ["build:rust"]

[tasks."build:rust"]
dir = "rsworkspace"
run = "cargo build"

[tasks.check]
description = "Check all"
depends = ["check:rust"]

[tasks."check:rust"]
dir = "rsworkspace"
run = "cargo clippy --workspace && cargo fmt --check"

[tasks."rsc"]
description = "Format and check all Rust code (fmt, clippy, all targets, all features)"
dir = "rsworkspace"
run = "cargo fmt && cargo clippy --all-targets --all-features"
